<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QR_SCAN_PROFILE_LINK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QR_SCAN_PROFILE_LINK.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QR_SCAN_PROFILE_LINK</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function checkScanMapping(scanFileName,intervalId) {
            $.ajax({
                url: '/Home/ReadScanMapping?scanFileName=' + scanFileName,
                type: 'GET',
                success: function (response) {
                    console.log('Scan mapping result: ' + response);
                    console.log('Scan File Name', scanFileName)
                    if (scanFileName == null || scanFileName == ""){
                        clearInterval(intervalId);
                    }
                    if (response == true) {
                        window.location.href = '/Home/ScanMappingSuccess'
                        clearInterval(intervalId);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error checking scan mapping: ' + error);
                }
            });
        }

        var scanFileName = '@ViewBag.ScanFileName';
        var intervalId = setInterval(function () {
            checkScanMapping(scanFileName, intervalId);
        }, 5000);
    </script>
</body>
</html>
