
@{
    ViewData["Title"] = "MapScanToProfile";
}


<h2>The Following Scan and Profile are Mapped Successfully</h2>
<h3> <strong>ScanFileName: @ViewBag.ScanFileName</strong></h3>
<h3><strong>ProfileId: @ViewBag.ProfileId</strong></h3>

<strong><h1>Waiting for desktop app to Read the scan Mapping...</h1></strong>



